@function cal($num){
	@return $num/20;
}
html,body{
	height:100%;
}
a{
	text-decoration:none;
}
.cutey{
	height:cal(480rem);
	width:100%;
	position:relative;
	img{
		width:100%;
	}
	.semicrcle{
		height:cal(18rem);
		width:cal(46rem);
		background: rgba(0,0,0,.3);
		font-size:cal(10rem);
		text-align:center;
		color:#ffffff;
		line-height:cal(18rem);
		border-radius:cal(9rem);
		position:absolute;
		right:cal(12rem);
		top:cal(400rem);
	}
	.title{
		height:cal(50rem);
		width:100%;
		background:#fff;
		font-size:cal(14rem);
		color:#424242;
		position:absolute;
		top:cal(430rem);
		left:0;
		span{
			float:left;
			height:cal(35rem);
			width:cal(290);
			margin-left:cal(12rem);
			margin-top:cal(14rem);
		}
	}
}
.price{
	height:cal(46rem);
	width:cal(290rem);
	span{
		height:cal(6rem);
		width:cal(6rem);
		float:left;
		font-size:cal(6rem);
		margin-left:cal(12rem);
		margin-top:cal(18rem);
		color:#333333; 
	}
	a{
		height:cal(24rem);
		width:cal(60rem);
		float:left;
		font-size:cal(24rem);
		margin-left:cal(4rem);
		margin-top:cal(14rem);
		color:#333333;
	}
	del{
		height:cal(10rem);
		width:cal(44rem);
		float:left;
		font-size:cal(10rem);
		margin-left:cal(8rem);
		margin-top:cal(14rem);
		color:#999999;
	}
	.discount{
		height:cal(14rem);
		width:cal(26rem);
		float:left;
		background:#ffe8ee;
		margin-left:cal(-40rem);
		margin-top:cal(32rem);
		line-height:cal(14rem);
		text-align:center;
		font-size:cal(10rem);
		color:#ff89a5;
	}
}
.free{
	height:cal(32rem);
	width:cal(308rem);
	color:#999999;
	line-height:cal(32rem);
	font-size:cal(12rem);
	margin-left:cal(12rem);
	clear:both;
	border-bottom:1px solid #eeeeee;
}
.condition{
	height:cal(25rem);
	width:100%;
	font-size:cal(9rem);
	color:#666666;
	.deliver-goods{
		height:100%;
		width:cal(79rem);
		line-height:cal(25rem);
		font-family:"iconfont";
		float:left;
		margin-left:cal(11rem);
		a{
			height:cal(11rem);
			width:cal(11rem);
			color:#b9b9b9;
		}
	}
	.without-reason{
		height:100%;
		width:cal(95rem);
		line-height:cal(25rem);
		font-family:"iconfont";
		float:left;
		margin-left:cal(8rem);
		a{
			height:cal(11rem);
			width:cal(11rem);
		  color:#b9b9b9;
		}
	}
	.sales-return{
		height:100%;
		width:cal(79rem);
		line-height:cal(25rem);
		font-family:"iconfont";
		float:left;
		margin-left:cal(8rem);
		a{
			height:cal(13rem);
			width:cal(13rem);
			color:#b9b9b9;
		}
	}
	.right-triangle{
		height:cal(10rem);
		width:cal(6rem);
		color:#b9b9b9;
		float:right;
		margin-top:cal(6rem);
		margin-right:cal(10rem);
		font-family:"iconfont";
	}
}
.white-space{
	height:cal(6rem);
	width:100%;
	background:#eaeaea;
}
.choose{
	height:cal(30rem);
	width:100%;
	color:#666666;
	line-height:cal(30rem);
	font-size:cal(9rem);
	font-family:"iconfont";
	span{
		float:left;
		margin-left:cal(12rem);
	}
	.right-triangle{
		height:cal(10rem);
		width:cal(6rem);
		color:#b9b9b9;
		float:right;
		margin-top:cal(6rem);
		margin-right:cal(10rem);
		font-family:"iconfont";
	}
}
.active{
	height:cal(83rem);
	width:cal(307rem);
	border-bottom:1px solid #eeeeee;
	h3{
		height:cal(18rem);
		width:100%;
		line-height:cal(18rem);
		color:#999999;
		font-size:cal(11rem);
		margin-left:cal(12rem);
		margin-top:cal(12rem);
	}
	.discount-coupon{
		height:cal(37rem);
		width:cal(72rem);
		background:#ff478c;
		color:#fff;
		margin-left:cal(12rem);
		margin-top:cal(12rem);
		float:left;
		border-radius:cal(2rem);
		a{
			height:cal(10rem);
			width:cal(6rem);
			margin-left:cal(20rem);
			margin-top:cal(5rem);
			float:left;
			font-size:cal(10rem);
		}
		span{
			height:cal(15rem);
			width:cal(22rem);
			font-size:cal(15rem);
			margin-left:cal(4rem);
			float:left;
		}
		i{
			height:cal(12rem);
			width:100%;
			font-size:cal(12rem);
			float:left;
			font-style:normal;
			text-align:center;
			margin-top:cal(5rem);
		}
	}
	.discount-coupon1{
		height:cal(37rem);
		width:cal(72rem);
		background:#ff478c;
		color:#fff;
		margin-left:cal(2rem);
		margin-top:cal(12rem);
		float:left;
		border-radius:cal(2rem);
		a{
			height:cal(10rem);
			width:cal(6rem);
			margin-left:cal(20rem);
			margin-top:cal(5rem);
			float:left;
			font-size:cal(10rem);
		}
		span{
			height:cal(15rem);
			width:cal(22rem);
			font-size:cal(15rem);
			margin-left:cal(4rem);
			float:left;
		}
		i{
			height:cal(12rem);
			width:100%;
			font-size:cal(12rem);
			float:left;
			font-style:normal;
			text-align:center;
			margin-top:cal(5rem);
		}
	}
}
.particulars{
	height:cal(60rem);
	width:100%;
	.subtraction{
		height:cal(14rem);
		width:cal(30rem);
		background:#f87119;
		margin-left:cal(12rem);
		font-size:cal(10rem);
		color:#fff;
		float:left;
		line-height:cal(14rem);
		text-align:center;
		margin-top:cal(15rem);
		margin-right:cal(4rem);
	}
	span{
		font-size:cal(11rem);
		color:#999999;
		float:left;
		margin-top:cal(13rem)
	}
	.pinkage{
		height:cal(14rem);
		width:cal(30rem);
		background:#8a4efc;
		margin-left:cal(12rem);
		font-size:cal(10rem);
		color:#fff;
		float:left;
		line-height:cal(14rem);
		text-align:center;
		margin-top:cal(4rem);
		margin-right:cal(4rem);
		clear:both;
	}
	a{
		font-size:cal(11rem);
		color:#999999;
		float:left;
		margin-top:cal(4rem);
	}
	.right-triangle{
		height:cal(10rem);
		width:cal(6rem);
		color:#b9b9b9;
		float:right;
		font-size:cal(12rem);
		margin-right:cal(12rem);
		font-family:"iconfont";
	}
	i{
		font-size:cal(12rem);
		color:#999999;
		float:right;
		margin-right:cal(6rem);
		font-style:normal;
	}
}
.white-space2{
	height:cal(9rem);
	width:100%;
	background:#eaeaea;
}
.comment{
	width:100%;
	height:cal(32rem);
	font-size:cal(12rem);
	color:#999999;
	line-height:cal(32rem);
	span{
		padding-left:cal(12rem);
	}
	.right-triangle{
		height:cal(10rem);
		width:cal(6rem);
		color:#b9b9b9;
		float:right;
		font-size:cal(12rem);
		margin-right:cal(12rem);
		font-family:"iconfont";
	}
}
.label{
	height:cal(44rem);
	width:cal(280rem);
	text-align:center;
	line-height:cal(20rem);
	font-size:cal(12rem);
	.red-label1{
		height:cal(20rem);
		width:cal(64rem);
		background:#ffe8ee;
		color:#ff2255;
		float:left;
		margin-left:cal(12rem);
	}
	.red-label2{
		height:cal(20rem);
		width:cal(77rem);
		background:#ffe8ee;
		color:#ff2255;
		float:left;
		margin-left:cal(4rem);
	}
	.red-label3{
		height:cal(20rem);
		width:cal(100rem);
		background:#ffe8ee;
		color:#ff2255;
		float:left;
		margin-left:cal(4rem);
	}
	.red-label4{
		height:cal(20rem);
		width:cal(76rem);
		background:#ffe8ee;
		color:#ff2255;
		float:left;
		margin-left:cal(12rem);
		margin-top:cal(4rem);
	}
}
.evaluate1{
	height:cal(104rem);
	width:cal(294rem);
	margin-left:cal(12rem);
	border-bottom:1px solid #eeeeee;
	img{
		height:cal(26rem);
		width:cal(26rem);
		margin-top:cal(12rem);
		border-radius:50%;
		float:left;
	}
	span{
		font-size:cal(13rem);
		margin-left:cal(8rem);
		float:left;
		margin-top:cal(13rem);
		color:#424242;
	}
	a{
		font-size:cal(12rem);
		clear:both;
		float:left;
		margin-top:cal(10rem);
		margin-left:cal(8rem);
		color:#727272;
	}
	i{
		font-size:cal(10rem);
		clear:both;
		float:left;
		margin-top:cal(4rem);
		margin-left:cal(8rem);
		color:#999999;
		font-style:normal;
	}
}
.evaluate2{
	height:cal(104rem);
	width:cal(294rem);
	margin-left:cal(12rem);
	border-bottom:1px solid #eeeeee;
	img{
		height:cal(26rem);
		width:cal(26rem);
		margin-top:cal(12rem);
		border-radius:50%;
		float:left;
	}
	span{
		font-size:cal(13rem);
		margin-left:cal(8rem);
		float:left;
		margin-top:cal(13rem);
		color:#424242;
	}
	a{
		font-size:cal(12rem);
		clear:both;
		float:left;
		margin-top:cal(10rem);
		margin-left:cal(8rem);
		color:#727272;
	}
	i{
		font-size:cal(10rem);
		clear:both;
		float:left;
		margin-top:cal(4rem);
		margin-left:cal(8rem);
		color:#999999;
		font-style:normal;
	}
}
.white-space3{
	height:cal(9rem);
	width:100%;
	background:#eaeaea;
}
.bag-merchant{
	height:cal(130rem);
	width:100%;
	.bag{
		img{
		width:cal(40rem);
		margin-left:cal(12rem);
		margin-top:cal(12rem);
		float:left;
		}
	}
	a{
		float:left;
		margin-left:cal(8rem);
		color:#333333;
		font-size:cal(12rem);
		margin-top:cal(16rem);
	}
	.star{
		height:cal(9rem);
		width:cal(100rem);
		float:left;
		clear:both;
		margin-left:cal(60rem);
		margin-top:cal(-18rem);
		img{
		height:cal(9rem);
		width:cal(9rem);
		float:left;
		}
	}
	.enter-merchant{
		height:cal(24rem);
		width:cal(56rem);
		border:1px solid #ff5777;
		text-align:center;
		line-height:cal(24rem);
		font-size:cal(11rem);
		color:#ff5777;
		float:right;
		border-radius:cal(2rem);
		margin-right:cal(13rem);
		margin-top:cal(-35rem);
	}
	.slae-volume{
		height:cal(50rem);
		width:cal(98rem);
		margin-left:cal(12rem);
		float:left;
		margin-top:cal(10rem);
		border-right:1px solid #e5e5e5;
		clear:both;
		a{
			float:left;
			font-size:cal(11rem);
			color:#333333;
			margin-left:cal(20rem);
			margin-top:cal(2rem);
		}
		span{
			float:left;
			font-size:cal(11rem);
			color:#999999;
			margin-left:cal(25rem);
			margin-top:cal(9rem);
		}
	}
	.slae-volume1{
		height:cal(50rem);
		width:cal(98rem);
		float:left;
		margin-top:cal(10rem);
		border-right:1px solid #e5e5e5;
		a{
			float:left;
			font-size:cal(11rem);
			color:#333333;
			margin-left:cal(20rem);
			margin-top:cal(2rem);
		}
		span{
			float:left;
			font-size:cal(11rem);
			color:#999999;
			margin-left:cal(25rem);
			margin-top:cal(9rem);
		}
	}
	.slae-volume2{
		height:cal(50rem);
		width:cal(85rem);
		margin-top:cal(10rem);
		float:left;
		b{
			color:#999;
			float:left;
			font-style:normal;
			font-size:cal(11rem);
			padding-right:cal(4rem);
		}
		span{
		  float:left;
			font-size:cal(11rem);
			color:#ff5777;
			margin-left:cal(8rem);
		}
	}
}
#graphic{
	background:#fff;
	height:cal(37rem);
	width:100%;
	border-bottom:1px solid #d9d9d9;
	line-height:cal(34rem);
	font-size:cal(14rem);
	span{
		color:#ff5577;
		margin-left:cal(24rem);
		margin-right:cal(24rem);
		float:left;
	}
	a{
		color:#333333;
		margin-left:cal(24rem);
		margin-right:cal(24rem);
		float:left;
	}
}
.fashion-details{
	height:cal(80rem);
	width:100%;
	.dotted{
		height:cal(4rem);
		width:cal(4rem);
		border-radius:50%;
		background:#000000;
		margin-left:cal(13rem);
		margin-top:cal(15rem);
		float:left;
	}
	.solid{
		height:cal(1rem);
		width:cal(73rem);
		background:#a3a3a5;
		margin-top:cal(17rem);
		float:left;
	}
	.small-bag{
		height:cal(44rem);
		width:cal(290rem);
		color:#727272;
		margin-left:cal(13rem);
		font-size:cal(12rem);
		clear:both;
		padding-top:cal(14rem);
	}
	.solid2{
		height:cal(1rem);
		width:cal(73rem);
		background:#a3a3a5;
		margin-top:cal(2rem);
		margin-left:cal(230rem);
		float:left;
	}
	.dotted2{
		height:cal(4rem);
		width:cal(4rem);
		border-radius:50%;
		background:#000000;
		float:left;
	}
}
.effect{
	height:cal(28rem);
	width:100%;
	color:#303030;
	font-size:cal(12rem);
	line-height:cal(28rem);
	span{
		padding-left:cal(13rem);
	}
}
.girl-list{
	width:100%;
	img{
		width:100%;
		margin-bottom:cal(-3rem);
	}
}
.girl-two{
	width:100%;
	img{
		width:100%;
		margin-bottom:cal(-3rem);
	}
}
.girl-three{
	width:100%;
	img{
		width:100%;
		margin-bottom:cal(-3rem);
	}
}
.band-introduction{
	height:cal(74rem);
	width:100%;
	h3{
		height:cal(28rem);
		width:cal(60rem);
		line-height:cal(28rem);
		font-size:cal(12rem);
		color:#303030;
		margin-left:cal(13rem);
	}
	a{
		font-size:cal(10rem);
		color:#727272;
		float:left;
		margin-left:cal(13rem);
		text-indent:cal(10rem);
	}
}
.price-introduction{
	height:cal(82rem);
	width:100%;
	img{
		width:100%;
	}
}
.new{
	width:cal(294rem);
	margin-top:cal(12rem);
	margin-left:cal(12rem);
	.size{
		height:cal(36rem);
		width:cal(294rem);
		font-size:cal(11rem);
		border-bottom:1px solid #f4f4f4;
		color:#727272;
		line-height:cal(36rem);
		span{
			padding-left:cal(50rem);
		}
	}
	.middle{
		height:cal(36rem);
		width:cal(294rem);
		font-size:cal(11rem);
		border-bottom:1px solid #f4f4f4;
		color:#727272;
		line-height:cal(36rem);
		span{
			padding-left:cal(57rem);
			color:#ec4897;
		}
	}
	.important3{
		height:cal(28rem);
		width:cal(294rem);
		font-size:cal(11rem);
		border-bottom:1px solid #f4f4f4;
		color:#727272;
		line-height:cal(28rem);
		span{
			padding-left:cal(36rem);
			color:#ec4897;
		}
	}
	.important4{
		height:cal(28rem);
		width:cal(294rem);
		font-size:cal(11rem);
		border-bottom:1px solid #f4f4f4;
		color:#727272;
		line-height:cal(28rem);
		span{
			padding-left:cal(22rem);
			color:#ec4897;
		}
	}
	.important2{
		height:cal(28rem);
		width:cal(294rem);
		font-size:cal(11rem);
		border-bottom:1px solid #f4f4f4;
		color:#727272;
		line-height:cal(28rem);
		span{
			padding-left:cal(50rem);
			color:#ec4897;
		}
	}
	.important5{
		height:cal(28rem);
		width:cal(294rem);
		font-size:cal(11rem);
		border-bottom:1px solid #f4f4f4;
		color:#727272;
		line-height:cal(28rem);
		span{
			padding-left:cal(10rem);
			color:#ec4897;
		}
	}
}
.smart-talk{
	width:100%;
	height:cal(336rem);
	img{
		width:cal(294rem);
		margin-left:cal(12rem);
	}
}
.kind{
	width:100%;
	height:cal(203rem);
	img{
		width:cal(294rem);
		margin-left:cal(12rem);
	}
}
.other-introduction{
	width:cal(294rem);
	font-size:cal(11rem);
	color:#5e5e5e;
	margin-left:cal(14rem);
  .same{
  	height:cal(174rem);
  	width:cal(94rem);
  	margin-right:cal(4rem);
  	margin-top:cal(12rem);
  	float:left;
  	img{
  		width:cal(94rem);
  	}
  }
}
.space{
	height:cal(70rem);
	width:100%;
	clear:both;
}
#navigation{
	height:cal(50rem);
	width:cal(50rem);;
	background:#000;
	opacity:0.7;
	border-radius:50%;
	position:fixed;
	right:cal(6rem);
	bottom:cal(181rem);
	text-align:center;
	color:#fff;
	font-size:cal(10rem);
	transition:.3s;
	h5{
		margin-top:cal(8rem);
	}
}
#self{
	height:cal(50rem);
	width:cal(50rem);;
	background:#000;
	opacity:0.7;
	border-radius:50%;
	position:fixed;
	right:cal(6rem);
	bottom:cal(116rem);
	text-align:center;
	color:#fff;
	font-size:cal(10rem);
	font-family:"iconfont";
	transition:.3s;
	h5{
		height:cal(15rem);
		width:cal(15rem);
		margin-top:cal(8rem);
		margin-left:cal(18rem);
	}
}
#stick{
	height:cal(50rem);
	width:cal(50rem);;
	background:#000;
	opacity:0.7;
	border-radius:50%;
	position:fixed;
	right:cal(6rem);
	bottom:cal(51rem);
	text-align:center;
	margin-top:cal(15rem);
	color:#fff;
	font-size:cal(10rem);
	font-family:"iconfont";
	transition:.3s;
	h5{
		height:cal(15rem);
		width:cal(15rem);
		margin-top:cal(8rem);
		margin-left:cal(18rem);
	}
	a{
		color:#fff;
	}
}
.bottom{
	height:cal(43rem);
	width:100%;
	position:fixed;
	background:#fff;
	text-align:center;
	bottom:0;
	left:0;
	.collect{
		height:cal(42rem);
		width:cal(49rem);
		background:#fff;
		border-top:1px solid #ededed;
		border-right:1px solid #ededed;
		font-family:"iconfont";
		float:left;
		h5{
			height:cal(15rem);
			width:cal(15rem);
			margin-left:cal(16rem);
			margin-top:cal(4rem);
			color:#858585;
		}
		span{
			font-size:cal(11rem);
			display:block;
			line-height:cal(21rem);
			color:#858585;
		}
	}
	.store{
		height:cal(42rem);
		width:cal(49rem);
		background:#fff;
		border-top:1px solid #ededed;
		font-family:"iconfont";
		float:left;
		h5{
			height:cal(15rem);
			width:cal(15rem);
			margin-left:cal(16rem);
			margin-top:cal(4rem);
			color:#858585;
		}
		span{
			font-size:cal(11rem);
			display:block;
			line-height:cal(21rem);
			color:#858585;
		}
	}
	.add-car{
		height:cal(43rem);
		width:cal(110rem);
		background:#ffe6e8;
		font-size:cal(11rem);
		color:#ff8097;
		float:left;
		line-height:cal(43rem);
	}
	.buy-now{
		height:cal(43rem);
		width:cal(111rem);
		background:#ff547b;
		font-size:cal(11rem);
		color:#fff;
		float:left;
		line-height:cal(43rem);
	}
}